.page {
    width: 1200px;
    background-color: #E5F3FD;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

body {
    font-family: 'Playfair', serif;
    background-image: url('Background.webp');
}

h1 {
    font-weight: 900;
    font-family: 'Playfair', serif;
}

p {
    font-size: 15px;
    font-family: 'Verdana', sans-serif;
}
    
}
.column {
    float: left;
    width: 45%;
    padding-right: 30px;
    padding-left: 30px;
}

.column1{
    background-color: #E5F3FD;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;

.column3 {
    float: left;
    width: 30%;
    padding: 10px;
    padding-right: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

h1 {
    margin-top: 0px;
}

.description-center {
    padding-left: 150px;
}

.description-center2 {
    padding-left: 365px;
}

.description-center3 {
    padding-left: 105px;
}

.paddcell {
    margin-bottom: 40px;
}

figcaption {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-align: center
}

#box1 {
    background-color: #E5F3FD;
    border-radius: 30px;
}
